//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin fixpc {
    @media only screen and (max-width: 1150px) and (min-width: 1024px){
        @content;
    }
}
@mixin tab {
    @media only screen and (max-width: 1023px) {
        @content;
    }
}
@mixin  fixtab {
    @media only screen and (max-width: 800px) {
        @content;
    }
}
@mixin tabonly {
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
        @content;
    }
}

@mixin sp {
    @media only screen and (max-width: 767px) {
        @content;
    }
}
