<footer class="c-footer">
  <div class="c-footer__box">
    <div class="c-footer__logo">
      <a href="./">
        <img src="./assets/img/logo.png" alt="ENTEX">
        <span class="c-footer__txt">Recruitment 2020</span>
      </a>
    </div>
    <nav class="c-navmn">
      <ul>
        <li class="c-navmn__item c-navmn__item--i1">
          <a href="#c-about">私たちについて</a>
        </li>
        <li class="c-navmn__item c-navmn__item--i2">
          <a href="#c-work">私たちの仕事</a>
        </li>
        <li class="c-navmn__item c-navmn__item--i3">
          <a href="#c-plan">キャリアプラン</a>
        </li>
        <li class="c-navmn__item">
          <a href="#c-interv">社員インタビュー</a>
        </li>
        <li class="c-navmn__item">
          <a href="#c-company">会社情報</a>
        </li>
      </ul>
    </nav>
    <div class="c-btmenu"><a href="#c-recruit">募集要項</a></div>
  </div>
  <p class="c-footer__txt01"><a href="./" target="_blank"> &gt; 株式会社ENTEXコーポレートサイト</a></p>
  <div class="c-footer__copy">© 株式会社ENTEX. All rights reserved.</div>
</footer>
<div class="c-backtotop">
  <img src="./assets/img/icon_totop.jpg" alt="totop">
</div>