<header class="c-header">
  <div class="c-header__content">
    <h1 class="c-header__logo">
      <a href="./">
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/img/sp/logo.jpg">
          <img src="./assets/img/logo.png" alt="ENTEX">
        </picture>
        <span>Recruitment 2020</span>
      </a>
    </h1>
    <nav class="c-navmn">
      <ul> 
        <li class="c-navmn__item c-navmn__item--i1">
          <a href="#c-about">私たちについて</a>
        </li>
        <li class="c-navmn__item">
          <a href="#c-work">私たちの仕事</a>
        </li>
        <li class="c-navmn__item c-navmn__item--i3">
          <a href="#c-plan">キャリアプラン</a>
        </li>
        <li class="c-navmn__item">
          <a href="#c-interv">社員インタビュー</a>
        </li>
        <li class="c-navmn__item">
          <a href="#c-company">会社情報</a>
        </li>
      </ul>
      <div class="c-btmenu u-sponly"><a href="#c-recruit">募集要項</a></div>
    </nav>
    <div class="c-btmenu">
      <a href="#c-recruit">募集要項</a>
      <div class="c-navspbtn u-sponly">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
